* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.battleContainer {
    border: 5px solid black;
    width: 60%;
    height: 70%;
    background-color: tomato;
    background-image: url(./img/battleBg.png);
}   

.poke {
    height: 350px;
    width: 200px;
    position: absolute;
}

.info {
    border: 4px solid #364933;
    border-radius: 8px 0 8px 0;
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
    background-color: #F7F6D0;
}

.poke1 {
    top: 40%;
    height: 350px;
    margin-left: 50px;
}

.poke2 {
    top: 20%;
    left:60%;
}

.poke1Photo {
    background-image: url(./img/bulbassauro.png);
    height: 170px;
    background-size: cover;
    background-position: center;
    
}

.poke2Photo {
    background-image: url(./img/bulbassauro.png);
    height: 170px;
    background-size: cover;
    background-position: center;
    background-position-x: 90%;
}